<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.tiger.community.pojo"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/ItemMapper.xml"/>
        <mapper resource="mapper/FriendMapper.xml"/>
        <mapper resource="mapper/UserProfileMapper.xml"/>
        <mapper resource="mapper/BehaviorMapper.xml"/>
        <mapper resource="mapper/CommentMapper.xml"/>
    </mappers>
</configuration>